.lx-toast {
  position: fixed;
  bottom: $grid24x;
  left: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 80%;
  height: $grid12x;
  padding: $grid2x $grid4x;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  z-index: 9999;
  color: #fff;
  background: $black78;
  animation: show-toast .25s;
  -webkit-animation: show-toast .25s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include font-size(12px);
  @include border-radius($grid16x !important);
  @include box-shadow($grid, $grid2x, $black16);
}

.lx-toast.lx-word-wrap {
  width: 80%;
  white-space: inherit;
  height: auto;
}

@-webkit-keyframes show-toast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-toast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
