.lx-toast {
  position: fixed;
  bottom: $grid24x;
  left: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: $grid12x;
  padding: $grid2x $grid4x;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  z-index: 9999;
  color: #fff;
  background: $black78;
  -webkit-animation: show-toast .25s;
          animation: show-toast .25s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include font-size($grid3x);
  @include border-radius($grid16x !important);
  @include box-shadow($grid, $grid2x, $black16);
}

.lx-toast.lx-word-wrap {
  height: auto;
  white-space: inherit;
  width: calc(100% - #{$grid128x}) !important;
  max-width: 480px !important;

  @media #{$tablet} {
    width: calc(100% - #{$grid64x}) !important;
    max-width: 480px !important;
  }

  @media #{$pablet2} {
    width: calc(100% - #{$grid32x}) !important;
    max-width: calc(100% - #{$grid32x}) !important;
  }

  @media #{$ip6} {
    width: calc(100% - #{$grid16x}) !important;
    max-width: calc(100% - #{$grid16x}) !important;
  }
}

@-webkit-keyframes show-toast {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes show-toast {
  from { opacity: 0; }
  to { opacity: 1; }
}
