.DS_Store
node_modules/
.firebase/
LEGACY/
*.cache
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.env

# custom
google6e4fc25964ec24c9.html
naver187812d04743788bf0f8407effb510c6.html
