.DS_Store
node_modules/
.firebase/
LEGACY/
*.cache

# Editor directories and files
.idea
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.env

# custom
# google6e4fc25964ec24c9.html
# naver187812d04743788bf0f8407effb510c6.html
