$BaseURI: '/src/assets/dist/benefits_';
$BaseURI_2: '/src/assets/dist/benefits2_';

#benefits {
  border-top: 1px solid $texteee;

  .section__title {
    margin-bottom: $grid8x;
  }

  .service__card {
    padding: 0 $grid8x $grid4x;

    .service__card--each {

      .service__card--img {

        &.seller {
          width: 80px;
          height: 80px;
          margin-bottom: $grid4x !important;

          &.seller1 {
            @include setGridIcons($BaseURI);
          }

          &.seller2 {
            @include setGridIcons($BaseURI_2);
          }

          @media #{$pro2} {
            margin-bottom: $grid8x !important;
          }
        }
      }
    }
  }

  .service__card {

    .service__card--text {
      padding: $grid4x $grid8x;
    }
  }

  &.benefits2 {

    .subtitle {
      @include font-size($grid6x);
    }
  }
}
