#benefits {
  border-top: 1px solid $texteee;

  .section__title {
    margin-bottom: $grid8x;

    &.subtitle {
      font-weight: 400;
      margin-top: $grid16x;
      @include font-size($grid4x);
    }
  }

  .service__card {
    counter-reset: section;

    .service__card--text {
      padding: $grid4x $grid8x;
      counter-increment: section;

      &.withcount {

        &::before {
          font-weight: 900;
          white-space: pre;
          color: $brand-pink;
          content: counter(section)'.\a';
          @include font-size($grid6x);
        }
      }
    }
  }
}
