$BaseURI: '/src/assets/dist/benefits_';

#benefits {
  border-top: 1px solid $texteee;

  .section__title {
    margin-bottom: $grid8x;

    &.subtitle {
      font-weight: 400;
      margin-top: $grid16x;
      @include font-size($grid4x);
    }
  }

  .service__card {
    padding: 0 $grid8x $grid4x;

    .service__card--each {

      .service__card--img {

        &.seller {
          width: 80px;
          height: 80px;
          margin-bottom: $grid4x !important;
          @include setGridIcons($BaseURI);

          @media #{$pro2} {
            margin-bottom: $grid8x !important;
          }
        }
      }
    }
  }

  .service__card {

    .service__card--text {
      padding: $grid4x $grid8x;
    }
  }
}
