#statsList {
  padding-bottom: $grid20x;
  border-top: 1px solid $texteee;

  .service__card--title {
    display: block;
    color: $brand-pink;
    font-weight: 700 !important;
    @include font-size($grid8x);
  }
}
