#startWith {
  .service__card--title {
    font-weight: 400;
    text-align: center;
    margin-bottom: $grid12x;
  }

  .sellerform__form--condition {
    color: $black38;
    text-align: center;
    margin-top: -#{$grid4x};
    margin-bottom: $grid24x;
    @include font-size($grid3x);
  }
}
