$BaseURI: '/src/assets/dist/condition_';

#startWith {

  .service__card--title {
    font-weight: 400;
    text-align: center;
  }

  .service__card {
    padding: $grid4x $grid8x;

    .service__card--each {

      .service__card--img {

        &.seller {
          width: 80px;
          height: 80px;
          margin: 0 auto;
          margin-bottom: $grid8x;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;

          @for $i from 0 through 2 {

            &.img-#{$i} {
              background-image: url('#{$BaseURI + ($i + 1)}.svg');
            }
          }
        }
      }
    }
  }

  .sellerform__form--condition {
    color: $black38;
    text-align: center;
    margin-top: $grid4x;
    margin-bottom: $grid16x;
    @include font-size($grid3x);
  }
}
