#startWith {
  $BaseURI: "~@/assets/dist/condition_";

  border-top: 1px solid $texteee;

  .service__card--title {
    font-weight: 400;
    text-align: center;
  }

  .service__card {
    padding: $grid4x $grid8x;

    @media #{$middle} {
      padding: $grid4x 0;
    }

    @media #{$pablet} {
      padding: $grid4x $grid8x;
    }

    .service__card--each {
      .service__card--img {
        &.seller {
          width: 80px;
          height: 80px;
          margin-bottom: $grid8x !important;
          @include setGridIcons($BaseURI);
        }
      }
    }
  }

  .sellerform__form--condition {
    color: $black38;
    text-align: center;
    margin-top: $grid4x;
    margin-bottom: $grid16x;
    @include font-size($grid3x);
  }
}
