@mixin box-shadow ($val:$grid2x, $val2:$grid4x, $color:$black08) {
  -webkit-box-shadow: 0 $val $val2 $color;
  -ms-box-shadow: 0 $val $val2 $color;
  box-shadow: 0 $val $val2 $color;
}

@mixin drop-shadow ($val:0, $val2:$grid2x, $val3:$grid4x, $color:$black08) {
  -webkit-filter: drop-shadow($val $val2 $val3 $color);
  -ms-filter: drop-shadow($val $val2 $val3 $color);
  filter: drop-shadow($val $val2 $val3 $color);
}

@mixin border-radius ($val:$grid2x) {
  border-radius: $val;
}

@mixin user-select () {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin transform ($val...) {
  -webkit-transform: $val;
          transform: $val;
}

@mixin grid-layout($col:3, $row:$grid12x, $gap:$grid24x) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-auto-rows: minmax($row, auto);
  grid-gap: $gap;
}

@mixin transition ($transition...) {
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin gradient() {
  background-color: #fff;
}

@mixin setGridIcons($base, $ext:'svg') {
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @for $i from 1 through 3 {

    &.img-#{$i} {
      background-image: url('#{$base + ($i)}'+ '.'+ '#{$ext}');
    }
  }
}

.global_cta {
  text-align: center;

  .global_cta-btn {
    outline: none;
    width: $grid48x;
    cursor: pointer;
    height: $grid14x;
    font-weight: 900;
    color: $brand-pink;
    margin-top: $grid8x;
    border: 2px solid transparent;
    background-color: $brand-pink-16;
    @include transition(all .25s ease);
    @include border-radius($grid16x);

    &:hover {
      opacity: 0.5;
    }
  }
}
