// box-shadow
@mixin box-shadow ($val:$grid2x, $val2:$grid4x, $color:$black08) {
  -webkit-box-shadow: 0 $val $val2 $color;
  -ms-box-shadow: 0 $val $val2 $color;
  -o-box-shadow: 0 $val $val2 $color;
  box-shadow: 0 $val $val2 $color;
}

// drop-shadow
@mixin drop-shadow ($val:0, $val2:$grid2x, $val3:$grid4x, $color:$black08) {
  -webkit-filter: drop-shadow($val $val2 $val3 $color);
  -khtml-filter: drop-shadow($val $val2 $val3 $color);
  -moz-filter: drop-shadow($val $val2 $val3 $color);
  -ms-filter: drop-shadow($val $val2 $val3 $color);
  -o-filter: drop-shadow($val $val2 $val3 $color);
  filter: drop-shadow($val $val2 $val3 $color);
}

// border-radius
@mixin border-radius ($val:$grid4x) {
  -webkit-border-radius: $val;
  border-radius: $val;
}

// user-select
@mixin user-select () {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// transform
@mixin transform ($val) {
  -webkit-transform: $val;
  -khtml-transform: $val;
  transform: $val;
}

// css grid layout
@mixin grid-layout($col:3, $row:$grid12x, $gap:$grid24x) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-auto-rows: minmax($row, auto);
  grid-gap: $gap;
}

// transition
@mixin transition ($transition...) {
  -webkit-transition: $transition;
  transition: $transition;
}

// bottom btn gradient
@mixin gradient() {
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 16%,
      rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(16%, rgba(255, 255, 255, 1)),
      color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 16%,
      rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 16%,
      rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 16%,
      rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 16%,
      rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

// setGridIcons - 3
@mixin setGridIcons($base, $ext:'svg') {
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @for $i from 0 through 2 {

    &.img-#{$i} {
      background-image: url('#{$base + ($i + 1)}'+ '.'+ '#{$ext}');
    }
  }
}

// global btn
.global__cta {
  text-align: center;

  .global__cta--btn {
    outline: none;
    width: $grid48x;
    cursor: pointer;
    height: $grid14x;
    font-weight: 900;
    color: $brand-pink;
    margin-top: $grid8x;
    border: 2px solid transparent;
    background-color: $brand-pink-16;
    @include transition(all .25s ease);
    @include border-radius($grid16x);

    &:hover {
      opacity: 0.5;
    }
  }
}

// toast
.toasted.primary.default {
  color: #fff;
  font-weight: 400;
  background: $black78;
  padding: $grid2x $grid4x;
  @include font-size(12px);
  @include border-radius($grid16x !important);
  @include box-shadow($grid, $grid2x, $black16);

  @media #{$pablet} {
    white-space: nowrap;
  }
}
