// color stack
$text333: #333;
$text555: #555;
$text777: #777;
$text999: #999;
$textaaa: #aaa;
$textccc: #ccc;
$textddd: #ddd;
$texteee: #eee;
$stroke: #eee;
$textf0: #f0f0f0;
$textf4: #f4f4f4;
$textf9: #f9f9f9;
$textfa: #fafafa;

$black78: rgba(0, 0, 0, 0.78);
$black64: rgba(0, 0, 0, 0.64);
$black54: rgba(0, 0, 0, 0.54);
$black38: rgba(0, 0, 0, 0.38);
$black24: rgba(0, 0, 0, 0.24);
$black16: rgba(0, 0, 0, 0.16);
$black08: rgba(0, 0, 0, 0.08);
$black04: rgba(0, 0, 0, 0.04);
$black03: rgba(0, 0, 0, 0.03);

$brand-pink: #ff82ab;
$brand-pink-38: #FFCFDF;
$brand-pink-16: #FFEBF1;
$brand-pink-8: #FFF5F9;
$brand-pink-pressed: #D66D8F;
$warning_red: #F94343;

$kakao: #F8CD46;
$facebook: #3b5998;
$instagram: #e1306c;
$googleplay: #34a853;
$appstore: #147efb;
$youtube: #ff0000;
