/* ==============================
  mixin default font
============================== */
@mixin font-stack-html() {
  -webkit-font-family: 'Spoqa Han Sans', Sans-serif;
  -moz-font-family: 'Spoqa Han Sans', Sans-serif;
  font-family: 'Spoqa Han Sans', Sans-serif;
}


/* ==============================
  text rendering
============================== */
@mixin font-settings() {
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}


/* ==============================
  default font-size, line-height
============================== */
@function calculateRem($size) {
  $remSize: $size / $grid4x;
  @return $remSize * 1rem;
}

@mixin line-height($size) {
  line-height: $size * 1.6;
  line-height: calculateRem($size) * 1.6;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  @include line-height($size);
}


/* ==============================
  normalize css
============================== */
body {
  outline: none;
  color: $black78;
  background-color: #fff;
  @include font-settings();
  @include font-stack-html();
  @include font-size($grid4x);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}


/* ==============================
    fonts
============================== */
a {
  color: $brand-pink;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

h1 {
  font-weight: 300;
  text-align: center;
  @include font-size($grid8x);

  @media #{$pablet} {
    @include font-size($grid7x);
  }

  &.section__title {
    font-weight: 300;
    text-align: center;
    margin-bottom: $grid8x;

    @media #{$mobile} {
      @include font-size($grid6x);
    }
  }
}

h3 {
  font-weight: 700;
  @include font-size($grid5x);
}

p,
li,
span {
  @include font-size($grid4x);
  @include line-height(18px);

  b {
    font-weight: 900;
  }

  &.section__subtitle {
    text-align: center;
    margin-bottom: $grid8x;
    margin-top: -#{$grid4x};
    font-weight: 300 !important;
  }
}

::selection {
  background-color: transparent !important;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;

  &:focus,
  &:active,
    {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }
}
