/* ==============================
  media query breakpoints
============================== */
$default: "screen and (max-width : 1080px)";
$pro2: "screen and (max-width : 834px )";
$tablet: "screen and (max-width : 768px )";
$landsc: "screen and (max-width : 640px )";
$middle: "screen and (max-width : 560px )";
$middle2: "screen and (max-width : 541px )";
$pablet2: "screen and (max-width : 442px )";
$pablet: "screen and (max-width : 420px )";
$ip6: "screen and (max-width : 375px )";
$mobile: "screen and (max-width : 360px )";
$mini: "screen and (max-width : 320px )";


/* ==============================
  iPhone X, XS, XR, Max
============================== */
$ipx: "only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)";
$ipxr: "only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait)";
$ipxm: "only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)";


/* ==============================
  browser specific
============================== */
$chrome: "screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)";
$firefox: "screen and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm)";
$ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)";

// edge
// @supports (-ms-ime-align:auto)

// safari
// @supports (-webkit-appearance:none)
