#hero {
  $img_home: '/src/assets/dist/hero.png';
  $img_seller: '/src/assets/dist/hero_2.png';

  width: 100%;
  height: $grid128x;
  position: relative;
  background-image: url('#{$img_home}');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media #{$tablet} {
    max-height: calc(92vh - #{$grid16x});
  }

  .hero__dim {
    height: 100%;
    overflow: hidden;
    background-color: $black78;

    .hero__text {

      &.center {
        top: 50%;
        left: 50%;
        color: #fff;
        text-align: center;
        position: absolute;
        margin-right: -50%;
        @include transform(translate(-50%, -50%));
      }

      .hero__title--nbsp {
        display: inline-block;
      }

      @media #{$middle} {

        .hero__title--nbsp {
          display: none !important;
        }

        .hero__br {

          &::after {
            content: '\a ';
            white-space: pre;
          }
        }
      }

      .hero__text--title {
        text-align: center;

        @media #{$mini} {
          @include font-size($grid6x);
          @include line-height($grid6x);
        }
      }

      .hero__text--subtitle {
        font-weight: 300;
        margin-top: -#{$grid4x};
        @include font-size($grid5x);

        @media #{$middle} {
          margin-top: -#{$grid2x};
        }

        @media #{$mini} {
          @include font-size($grid4x);
        }
      }

      .hero__text--spantext,
      .hero__br {
        font-weight: 300;
        opacity: 0.8;
        margin-bottom: -#{$grid2x};
        @include font-size($grid4x);

        @media #{$pablet} {
          padding: $grid4x 0;
          margin-top: -#{$grid2x};
          margin-bottom: -#{$grid4x};
        }

        @media #{$mobile} {
          @include font-size(14px);
        }
      }

      .dlbtn {
        margin-top: $grid12x;

        a {
          background-color: #fff;
        }
      }
    }
  }

  &.sellerHero {
    margin: 0 auto;
    height: $grid140x;
    text-align: left !important;
    background-image: url('#{$img_seller}');

    @media #{$tablet} {
      height: $grid96x;
      text-align: center !important;
    }

    .hero__text {
      top: 50%;
      color: #fff;
      position: absolute;
      margin-right: -50%;
      @include transform(translate(0%, -50%));

      @media #{$tablet} {
        margin-top: -#{$grid8x};
        color: #fff;
        position: relative;
        margin-right: 0%;
        @include transform(translate(0%, 100%));
      }

      @media #{$mini} {
        margin-top: 0;
      }

      .hero__text--title {
        text-align: left;

        @media #{$tablet} {
          text-align: center;
        }
      }
    }

    .hero__text--image {
      width: 360px;
      float: right;
      display: block;
      @include transform(translate(0%, 10%));

      @media #{$tablet} {
        display: none;
      }
    }
  }
}
