$BaseURI: '/src/assets/dist/serviceImage_';
$ext: 'png';

#service,
#benefits,
#startWith {
  overflow-y: hidden;
  padding-top: $grid16x;
  padding-bottom: $grid8x;

  .service__title {
    margin-bottom: $grid4x;
  }

  .service__card {
    @include grid-layout(3, 100px, $grid16x);

    @media #{$pro2} {
      @include grid-layout(1, 100px, $grid4x);
    }

    .service__card--each {

      .section__subtitle {

        @media #{$pro2} {
          padding: 0 $grid4x;
        }
      }

      .service__card--img {

        &.service {
          height: 480px;
          margin: 0 auto;
          @include drop-shadow();
          @include setGridIcons($BaseURI, $ext);
        }

        @media #{$pro2} {
          width: 320px;
          height: 560px;
        }

        @media #{$pablet} {
          width: 300px;
          height: 520px;
        }

        @media #{$ip6} {
          width: 280px;
          height: 480px;
        }
      }

      .service__card--title,
      .service__card--text {
        text-align: center;
        margin-top: $grid8x;

        @media #{$pablet} {
          margin-top: $grid4x;
        }
      }

      .service__card--title {
        font-weight: 500;
        margin: $grid4x 0 $grid6x;
      }

      .service__card--text {
        margin: -#{$grid4x} 0 $grid6x 0;
      }
    }
  }
}
