@charset 'UTF-8';
@import './normalize';

// modules
@import './modules/grid';
@import './modules/color';
@import './modules/mqbp';
@import './modules/spoqa';
@import './modules/global';
@import './modules/layout';
@import './modules/class';

// pages
@import './pages/home';

// components/home
@import './components/home/hero';
@import './components/home/service';

// components/benefits
@import './components/benefits/benefits';
@import './components/benefits/startWith';

// components/misc
@import './components/misc/toast';
