@charset 'UTF-8';

/*
modules
*/
@import './modules/spoqa',
'./modules/grid',
'./modules/color',
'./modules/mqbp',
'./modules/global',
'./modules/layout',
'./modules/class',
'./modules/tooltip'
;

/*
pages
*/
@import './pages/home',
'./pages/sellerForm',
'./pages/tos',
'./pages/notice',
'./pages/redirectDL'
;

/*
components/home
*/
@import './components/home/header',
'./components/home/footer',
'./components/home/hero',
'./components/home/service',
'./components/home/easyStart',
'./components/home/download',
'./components/home/joinUs'
;

/*
components/seller
*/
@import './components/seller/videoEmbed',
'./components/seller/statsList',
'./components/seller/benefits',
'./components/seller/startWith'
;

/*
misc
*/
@import './components/misc/kakao',
'./components/misc/downloadBtn',
'./components/misc/closeBtn'
;
