@charset 'UTF-8';

@import './normalize';

// modules
@import './modules/grid';
@import './modules/color';
@import './modules/mqbp';
@import './modules/spoqa';
@import './modules/global';
@import './modules/layout';
@import './modules/class';

// pages
@import './pages/home';
@import './pages/sellerForm';

// components/home
@import './components/home/hero';
@import './components/home/service';

// components/seller
@import './components/seller/videoEmbed';
@import './components/seller/statsList';
@import './components/seller/benefits';
@import './components/seller/startWith';

// components/misc
@import './components/misc/toast';
