@charset 'UTF-8';

/*
modules
*/
@import './modules/spoqa',
'./modules/grid',
'./modules/color',
'./modules/mqbp',
'./modules/global',
'./modules/layout',
'./modules/class',
'./modules/tooltip',
'./modules/aos'
;

/*
pages
*/
@import './pages/home',
'./pages/sellerForm',
'./pages/tos',
'./pages/notice'
;

/*
components/home
*/
@import './components/home/hero',
'./components/home/service'
;

/*
components/seller
*/
@import './components/seller/videoEmbed',
'./components/seller/statsList',
'./components/seller/benefits',
'./components/seller/startWith'
;
