#notices {
  padding-top: $grid4x;

  .notices__wrapper {

    .notice__list {
      padding: 0 $grid2x;
      cursor: pointer;

      .notice__list--each {
        border-bottom: 1px solid $texteee;

        .notice__list--title {
          @include font-size($grid4x);
        }

        .notice__list--date {
          color: $black54;
          font-weight: 400;
          @include font-size($grid3x);

          &::before {
            content: '\a';
            white-space: pre;
          }
        }
      }
    }
  }
}

#markdown {
  $p_font_size: 14px;

  margin: 0 auto;
  width: calc(100% - #{$grid32x});
  padding-top: $grid4x !important;
  @include user-select();

  #closebtn {
    margin: $grid12x 0 $grid16x;

    @media #{$pablet} {
      display: block;
    }

    .global__cta--btn {
      display: block;
      margin: 0 auto;
    }
  }

  @media #{$default} {
    width: calc(100% - #{$grid32x});
    padding: $grid16x;
  }

  @media #{$basic} {
    width: calc(100% - #{$grid16x});
    padding: $grid8x;
  }

  @media #{$tablet} {
    width: calc(100% - #{$grid4x});
    padding: $grid2x;
    padding-top: $grid8x !important;
  }


  h1 {
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    @include font-size($grid4x);
  }

  h4 {
    color: $black54;
    font-weight: 400;
    margin-top: -#{$grid};
    padding-bottom: $grid4x;
    border-bottom: 0.5px solid $texteee;
    @include font-size($p_font_size);
  }

  ul,
  ol {
    margin-left: -#{$grid4x};

    li {
      color: $black78;
    }
  }

  a {
    font-weight: 700;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    margin-top: $grid4x;
    display: inline-block;
    margin-bottom: $grid4x;
    border: 1px solid $texteee;

    @media #{$pablet} {
      width: 100%;
    }
  }

  em {
    margin: 0 auto;
    display: block;
    max-width: 80%;
    text-align: center;

    @media #{$tablet} {
      max-width: 100%;
    }
  }

  hr {
    margin: $grid16x 0;
  }

  p,
  li {
    @include font-size($p_font_size);
  }
}
