#markdown {
  $p_font_size: 14px;

  margin: 0 auto;
  width: calc(100% - #{$grid32x});
  padding-top: $grid4x !important;
  @include user-select();

  #closebtn {
    margin: $grid12x 0 $grid16x;

    @media #{$pablet} {
      display: block;
    }

    .global__cta--btn {
      display: block;
      margin: 0 auto;
      width: $grid36x;
      height: $grid12x;
      @include font-size($p_font_size);
    }
  }

  @media #{$default} {
    padding: $grid16x;
    width: calc(100% - #{$grid32x});
    padding-top: $grid6x !important;
  }

  @media #{$basic} {
    padding: $grid8x;
    width: calc(100% - #{$grid16x});
    padding-top: $grid6x !important;
  }

  @media #{$tablet} {
    padding: $grid2x;
    width: calc(100% - #{$grid4x});
    padding-top: $grid6x !important;
  }

  h1 {
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    @include font-size($grid4x);
  }

  h4 {
    color: $black54;
    font-weight: 400;
    margin-top: -#{6px};
    padding-bottom: 17px;
    border-bottom: 1px solid $texteee;
    @include font-size($grid3x);
  }

  ul,
  ol {
    margin-left: -#{$grid4x};

    li {
      color: $black78;
    }
  }

  a {
    font-weight: 700;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    margin-top: $grid4x;
    display: inline-block;
    margin-bottom: $grid4x;
    @include border-radius();

    @media #{$pablet} {
      width: 100%;
    }
  }

  em {
    margin: 0 auto;
    display: block;
    max-width: 80%;
    text-align: center;

    @media #{$tablet} {
      max-width: 100%;
    }
  }

  hr {
    margin: $grid16x 0;
  }

  p,
  li {
    @include font-size($p_font_size);
  }
}
